.courses-container {
  .sub-heading {
    min-width: 200px;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }
  li {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    box-shadow: bisque;
    box-shadow: 2px 2px #888888;
    margin-bottom: 24px;
  }
}
