.philosophy-container {
  width: 100%;
}
.heading {
  font-size: 18px;
  min-width: 250px;
}
.course-container {
  min-width: 100%;
  p {
    margin: 0px;
    line-height: 26px;
  }
}
.subcourse-container {
  @media (min-width: 720px) {
    display: flex;
  }
  display: block;
  .heading {
    min-width: 300px;
  }
}
