html {
  overflow-y: scroll;
}
body {
  height: 100%;
}
.app-container {
  margin-top: 70px;
  width: calc(100vw - 20%);
  height: calc(100vh - 150px);
  position: absolute;
  margin-left: 10%;
}
.home-container {
  display: inline-flex;
}
.profile-info {
  padding: 10px;

  @media (min-width: 720px) {
    display: flex;
  }
  p {
    font-size: 14px;
    line-height: 5px;
  }
  .heading {
    font-size: 18px;
    min-width: 250px;
    @media (max-width: 720px) {
      text-align: center;
    }
  }
}
.profile-desc {
  padding-right: 32px;
  @media (max-width: 720px) {
    text-align: center;
    padding-bottom: 24px;
  }
}

.profile-pic {
  width: auto;
  height: 300px;
  @media (max-width: 720px) {
    border-radius: 50%;
  }
}
.profile-bio {
  padding-bottom: 54px;
  article {
    text-align: justify;
  }
  ul {
    padding-inline-start: 12px;
  }
  @media (max-width: 720px) {
  }
}
