html,
body {
  height: 100%;
  margin: 0;
}
article {
  text-align: justify;
  font-size: 18px;
  line-height: 24px;
}
$global-header-height: 54px;
$global-footer-height: 64px;
.app-container {
  width: calc(100vw - 20%);
  margin-left: 10%;
  margin-top: $global-header-height;
  margin-bottom: $global-footer-height;
  padding-top: 24px;
  padding-bottom: 8px;
}

.home-container {
  padding: 10px;
  @media (min-width: 720px) {
    display: flex;
  }
}
.profile-desc {
  padding-right: 32px;
  @media (max-width: 720px) {
    text-align: center;
    padding-bottom: 24px;
  }
  p {
    font-size: 16px !important;
  }
}

.profile-pic {
  width: 250px;
  height: auto;
  @media (max-width: 720px) {
    border-radius: 50%;
  }
}
.profile-bio {
  padding-bottom: 54px;

  ul {
    padding-inline-start: 12px;
    list-style: none;
  }
  @media (max-width: 720px) {
  }
}
