// navigation css
.nav-bar {
  width: 100%;
  margin: 0 auto;
  height: 54px;
  background-color: dimgray;
  position: fixed;
}

.nav-bar .desktop-nav-bar-list {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  flex-direction: row;
}
.nav-bar .list-item {
  text-align: center;
  float: left;
  order: 1;
  flex-grow: 1;
  display: inline-block;
}

.nav-bar .list-item .dropdown-wrapper {
  line-height: 54px;
  height: auto;
  border-top: 1px transparent;
  color: white;
  font-weight: 700;
  font-size: 20px;
  display: block;
  text-decoration: none;
  .dropdown-header {
    padding: 0px;
    border: none;
  }
  .dropdown-container {
    background-color: dimgray;
  }
  .dropdown a {
    color: white;
    text-decoration: none;
  }
}

.nav-bar .list-item .dropdown-wrapper:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #e1e3e6),
    color-stop(1, dimgray)
  );
  color: white;
  text-decoration: none;
}

.nav-bar .list-item.active .dropdown-wrapper {
  margin-top: -5px;
  text-decoration: none;
  height: 45px;
  position: relative;
  background: #fff;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
}
.header-container {
  width: 100%;
  height: 54px;
  position: fixed;
  z-index: 1;
}
.footer {
  height: 64px;
  background-color: dimgray;
  color: white;
  text-decoration: none;
  bottom: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  text-align: center;
  img {
    width: 40px;
    padding-top: 12px;
    padding-left: 32px;
    height: 40px;
  }
}

//mobile menu

.mobile-nav-menu {
  padding-left: 1.25em;
  width: 24px;
  height: 48px;
}
.mobile-nav-menu:before {
  content: "";
  position: absolute;
  left: 16px;
  top: 16px;
  width: 24px;
  height: 2px;
  background: white;
  box-shadow: 0 0.35em 0 0 white, 0 0.7em 0 0 white;
}
.mobile-nav-bar-list {
  flex-direction: column;
  margin: 0px;
  float: left;
  display: flex;
  padding-left: 0px;
  .dropdown-wrapper {
    text-align: left;
  }
  .list-item {
    background: dimgray;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 210px;
  }
  .last-item {
    padding-bottom: 10px;
  }
}
