.publications {
  ul {
    list-style: none;
  }
}
.research-experience {
  .sub-heading {
    min-width: 104px;
  }
}
.reserch-interest-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  img {
    height: 250px;
    @media (max-width: 420px) {
      height: 200px;
    }
  }
}

.service-container {
  .sub-heading {
    min-width: 120px;
  }
  ul {
    list-style: none;
  }
}
