@import "../src/css/Navigation.scss";
@import "../src/css/app.scss";
@import "../src/css/Home.scss";
@import "../src/utils/DropDown.scss";
@import "../src/utils/Modal.scss";

@import "../src/css/Courses.scss";
@import "../src/utils/typography.scss";
@import "../src/css/Research.scss";
@import "../src/css/Philosophy.scss";
@import "../src/css/gallery.scss";
